<div class="smackMid">
<form id= "signup" action="/auth/signup" method="POST">
  <label for="new-email">Email</label></br>
  <input class="input-fields" id="new-email" type="email" name="email">
</br>
  <label for="new-name">Name</label></br>
  <input class="input-fields" id="new-name" type="text" name="name">
</br>
  <label for="new-password">Password</label></br>
  <input class="input-fields" id="new-password" type="password" name="password">
</br>
</br>

<input type="submit" value="Sign up">
</br>
</br>
<h4>Already a member?</h4>
<a class="nonNav" href="/login">Login Here</a>

</form>
</div>



