<form id= "signup" action="/auth/signup" method="POST">
  <label for="new-email">Email</label>
  <input class="input-fields" id="new-email" type="email" name="email">
</br>
  <label for="new-name">Name</label>
  <input class="input-fields" id="new-name" type="text" name="name">
</br>
  <label for="new-password">Password</label>
  <input class="input-fields" id="new-password" type="password" name="password">
</br>

<input type="submit" value="Sign up">

<h4>Already a member? Go to Login page</h4>
<li><a href="/login">Login Here</a></li>

</form>



