<nav class="navbar navbar-expand-lg navbar-light " >
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <% if (!currentUser) { %>
            <a class="navLink" id= "link"href="/">Home</a>
            <a class="navLink" id= "link" href="/auth/signup">Sign Up</a>
            <a class="navLink" id= "link" href="/auth/login">Login</a>
            <!-- <a class="navLink" id= "link" href="/smacks">Smacks</a>
            <a class="navLink" id= "link" href="/snacks">'n Snacks</a>
            <a class="navLink" id= "link" href="/bbq-sauce">'n Sauce</a>
            <a class="navLink" id= "link" href="/order-smack-n-snack">Smack 'n Snack Order</a>
            <a class="navLink" id= "link" href="/mealplans">Meal Plans</a>
            <a class="navLink" id= "link" href="/order-meal-plans">Meal Plan Order</a>
            <a class="navLink" id= "link" href="/delivery">Delivery</a>
            <a class="navLink" id= "link" href="/contact">Contact</a>
            <a class="navLink" id= "link" href="/about">Chef D</a> -->
          <% } else { %>
            <a class="navLink" id= "link" href="/">Home</a>
            <!-- <a class="navLink" id= "link" href="/signup">Sign Up</a> -->
            <a class="navLink" id= "link" href="/auth/logout">Logout</a>
            <a class="navLink" id= "link" href="/smacks">Smacks</a>
            <a class="navLink" id= "link" href="/snacks">Snacks</a>
            <a class="navLink" id= "link" href="/bbq-sauce">'Sauce</a>
            <a class="navLink" id= "link" href="/mealplans">Meal Plans</a>
            <a class="navLink" id= "link" href="/order-smack-n-snack">SnS Order</a>
            <a class="navLink" id= "link" href="/order-meal-plans">MP Order</a>
            <a class="navLink" id= "link" href="/delivery">Delivery</a>
            <a class="navLink" id= "link" href="/contact">Contact</a>
            <a class="navLink" id= "link" href="/about">Chef D</a>
            
          <% } %> 
       
        
      </div>
    </div>
  </nav>
  

     

