<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
      @import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&family=Noto+Serif:wght@700&family=Oswald&family=Roboto+Condensed&display=swap');
      </style>
    <title>Smacks 'n Snacks</title>
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> -->
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <% include partials/alerts %> 
    <!-- <div class="navbar-fixed ">
      <nav>
        <div class="nav-wrapper red accent-4">
          
          <ul class="left hide-on-med-and-down">
            <li><a href="/">Home</a></li>
            <li><a href="/signup">Sign Up</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/smacks">Smacks</a></li>
            <li><a href="/snacks">'n Snacks</a></li>
            <li><a href="/bbq-sauce">'n Sauce</a></li>
             <li><a href="/order-smack-n-snack">Smack 'n Snack Order</a></li>
             <li><a href="/mealplans">Meal Plans</a></li>
            <li><a href="/order-meal-plans">Meal Plan Order</a></li>
            <li><a href="/delivery">Delivery</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/about">Chef D</a></li>
            
          </ul>
        </div>
      </nav> 
    </div> -->

    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" href="/">Home</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" href="/signup">Sign Up</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="/smacks">Smacks</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/snacks">'n Snacks</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/bbq-sauce">'n Sauce</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="/order-smack-n-snack">Smack 'n Snack Order</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/mealplans">Meal Plans</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/order-meal-plans">Meal Plan Order</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="/delivery">Delivery</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About Chef D</a>
      </li>
      
    </ul>
          
    
      <div class="main">
        <h3 class= "logo">Logo will go here</h3>
      <h1 id="main-title"> Smack's 'n Snacks ('n Sauce) </h1>
      <!-- <a href="/signup">Click here to create an account</a> -->
      </br>
      <!-- <a href="/login">Already a member? Log in here!</a> -->
    </div>
    <!-- <nav class="navbar"></nav> -->
    <!-- <nav>
      <div class="sidebar">
        
<li><a href="/">Go home</a></li>
<li><a href="/signup">Sign Up here</a></li>
<li><a href="/login">Login Here</a></li>
<li><a href="/bbq-sauce">Go to sauce</a></li>
<li><a href="/smacks">Go to smacks</a></li>
<li><a href="/snacks">Go to snacks</a></li>
<li><a href="/mealplans">Go to mealplan</a></li>
<li><a href="/order-meal-plans">Place a Meal Plan order</a></li>
<li><a href="/order-smack-n-snack">Place a Smack or Snack order</a></li>
<li><a href="/delivery">Check for Delivery</a></li>
<li><a href="/contact">Contact Us</a></li>
<li><a href="/about">About the Chef</a></li>
    </div>
  </nav>
     -->
    
    <%- body %>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>  -->
    
    </br>
  </br>

  </br></br>
  <footer class= "footer">Have more questions?</br>
       put this off to the bottm right side out of the weay as a footer<a href="/contact">Contact Us!</a></footer>

  </body>
</html>
