<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
      @import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&family=Noto+Serif:wght@700&family=Oswald&family=Roboto+Condensed&display=swap');
      </style>
    <title>Smacks 'n Snacks</title>
    <!-- //bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <% include partials/alerts %> 
    <% include partials/navbar %> 
    
   
    
      <div class="main">
        <!-- <h3 class= "logo">Logo will go here</h3> -->
      <h1 id="main-title"> Smack's&nbsp;'n&nbsp;Snacks ('n&nbsp;Sauce) </h1>
     

    
    <%- body %>
    
    </br>
  </br>

  </br></br>
  <footer class= "footer">Have more questions?</br>
       put this off to the bottm right side out of the weay as a footer<a href="/contact">Contact Us!</a></footer>
       <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
       <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
       <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>
