<h1> Does this work?</h1>

<div class="map">
 <img src="https://api.mapbox.com/styles/v1/mapbox/light-v10/static/-117.9874,33.8408,11.96,0/600x400?access_token=pk.eyJ1IjoibGl6endlc3QiLCJhIjoiY2tkcnh4dDFiMGozYjM1bnl4M2tpNTN6YiJ9.KBlZ1RagUq4QAumzG9w5Ww" alt="" srcset="">
    </div>