<p><%= msg %></p>
<form action="/order/deliveryUpdate" method="POST">
    <input type="text" name="email" id="email" value="<%= email %>"hidden>
    <button type="submit">Change Address?</button>
</form>
