<p><%= msg %></p>
<a href="/delivery">Change Address?</a>
<!-- <form action="/order/deliveryUpdate" method="GET">
    <input type="text" name="email" id="email" value="<%= //email %>"hidden>
    <button type="submit">Change Address?</button>
</form> -->
