

<div class="map">
 <img src="https://api.mapbox.com/styles/v1/mapbox/light-v10/static/-117.9874,33.8408,11.96,0/600x400?access_token=pk.eyJ1IjoibGl6endlc3QiLCJhIjoiY2tkcnh4dDFiMGozYjM1bnl4M2tpNTN6YiJ9.KBlZ1RagUq4QAumzG9w5Ww" alt="" srcset="">
</div>


    <header><h1>Order Delivery </h1></header>
   

       <form action="/order/delivery" method="POST">
         <label for="delivery-name">Name</label>
         <input class="input-fields" id="delivery-name" type="text" name="delivery-name">
         <label for="delivery-email">Email</label>
         <input class="input-fields" id="delivery-email" type="email" name="delivery-email">
         <label for="delivery-address">Address</label>
         <input class="input-fields" type="text" id="delivery-address" name="delivery-address">
         <label for="delivery-city">City</label>
         <input class="input-fields" type="text" id="deliver-city" name="delivery-city">
         <label for="delivery-zip">Zip code</label>
         <input class="input-fields" type="text" id="delivery-zip"  name="delivery-zip">

         <input type="submit" value="Place Order">

   
        </form>
   