
<div class="orderForm" id= "mpOrder">
<form id="smacknsnack" action="/order-smack-n-snack" method="POST">
  <h4>Place a Smack 'n Snack Order</h4>
</br>
</br>
    <label class = "label" for="name">Customer Name</label>
    <input class="inputFields" id="name" type="name" name="name" required></br>
    <label class = "label" for="email">E-mail</label>
    <input class="inputFields" id="name" type="email" name="email" required></br>
    <label class = "label" for="phone">Phone Number</label>
    <input class="inputFields" id="name" type="number" name="number"></br>
   

</br>
<label class = "label">Cheesecake:
    </br> Please select flavor</label>
    <select name = "cheesecakeFlavor" class="inputFields">
      <option value = "mnc">Milk 'n Cookies</option>
      <option value = "oc">Orange Creamsicle</option>
      <option value = "cnc">Cookies 'n Cream</option>
      <option value = "wc">White Chocolate</option>
      <option value = "l">Lemon</option>
      <option value = "s">Seasonal (See Chef's Page for details)</option>
    </select>
  </br>
</br>
    <label class = "label">Please select a size and quantity:</label>
  </br>
</br>
    

       <label class = "label">Slice ($5)</label> 
        <select name="slice" class= "inputFields">
          <option value="0">0</option>
          <option value = "1">1</option>
          <option value = "2">2</option>
          <option value = "3">3</option>
          <option value = "4">4</option>
          <option value = "5">5</option>
        </select>
      </br>
        
      <label class = "label">8 in. ($35)</label> 
       <select name = "eight" class= "inputFields">
        <option value="0">0</option>
        <option value = "1">1</option>
        <option value = "2">2</option>
        <option value = "3">3</option>
        <option value = "4">4</option>
        <option value = "5">5</option>
      </select>
    </br>
    <label class = "label">10 in. ($40)</label>
        <select name = "ten" class= "inputFields">
          <option value="0">0</option>
          <option value = "1">1</option>
          <option value = "2">2</option>
          <option value = "3">3</option>
          <option value = "4">4</option>
          <option value = "5">5</option>
        </select>
      </br>
        <label class = "label">12 in. ($45)</label>
        <select name= "twelve" class= "inputFields">
          <option value="0">0</option>
          <option value = "1">1</option>
          <option value = "2">2</option>
          <option value = "3">3</option>
          <option value = "4">4</option>
          <option value = "5">5</option>
        </select>
      </br>
    </select>
</br>
</br>
</br>
    <label class = "label">Granola (6 oz. Bag)</label>

    
    <select name= "granola" class= "inputFields">
        <option value="0">0</option>
        <option value = "1">1</option>
        <option value = "2">2</option>
        <option value = "3">3</option>
        <option value = "4">4</option>
        <option value = "5">5</option>
      </select>
    </br>
  </br>
</br>
    <label class = "label">Chef's Special BBQ Sauce ($5/ bottle)</label>
  
      
      <select name= "bbq" class = "inputFields">
          <option value="0">0</option>
          <option value = "1">1</option>
          <option value = "2">2</option>
          <option value = "3">3</option>
          <option value = "4">4</option>
          <option value = "5">5</option>
        </select>
      </br>
      <input class="submit" type="submit" value="submit"></br>
      <a  class= "nonNav" href="/">Cancel</a>
      </form>
      </div>