
<div class="orderForm" id= "mpOrder">
<h4>
    Meal Plan Options
</h4></br>
<h5>
    $8 per day ($10/ day for salmon option; min. 3 days) </br>
    OR get 5 days for $35($40 for salmon option)!
</h5>

<p>For our meal plans, you can choose between 3 and 5 days.</br>
   Please choose ONE protein for all days. For each day, you </br>
    may also choose a side and a vegetable option. You may </br>
    select different Sides and vegetable options for each </br>
    day of your meal plan.</br>
    Please make your selections below.
</p>
</br>


<form id="mealplan" action="/order-meal-plans" method="POST">

<label class= "label" id= "orderTitle" for="mpOrder">Place a Meal Plan Order</label> </br>
</br>
    <label class = "label" for="name">Customer Name</label>
    <input class="inputFields" id="name" type="name" name="name" required></br>
    <label class = "label" for="email">E-mail</label>
    <input class="inputFields" id="name" type="email" name="email" required></br>
    <label class = "label" for="phone">Phone Number</label>
    <input class="inputFields" id="name" type="number" name="number"></br>
</br>
</br>
   

    <!-- <input class="inputFields" id="name" type="name" name="name" required></br> -->

    <!-- <input class="inputFields" id="name" type="name" name="name" required></br> -->

    <!-- <input class="inputFields" id="name" type="name" name="name" required></br> -->

    <!-- <input class="inputFields" id="name" type="name" name="name" required></br> -->
    <label class = "label" for="days">Please select number of days</label>
    <select name="days" required class= "inputFields">
        <option value = "3">3</option>
        <option value = "4">4</option>
        <option value = "5">5</option>
      </select>
    </br>
</br>
    <label class ="label">Please Select ONE Protein</label>
</br>
    <select name="protein" class="inputFields">
      <option  value = "c">Oven Roasted Chicken Breast (8-10oz)</option>
      <option value = "pc">Pan Seared Chicken Breast (8-10oz)</option>
      <option value = "b">Beef Barbacoa (6oz)</option>
      <option value = "p">Portobello Mushroom (3 large caps) * Vegetarian option*</option>
      <option value = "ps">Pan Seared Salmon(6oz.)**Add $2/day</option>
      <option value = "s">Oven Roasted Salmon(6oz.)**Add $2/day**</option>
    </select>
</br>
</br>
<label class = "label">Please select Sides and quantity:</label>
</br>
   
<label class = "label">Tri-Color Herbed Pasta</label> 
  
    <select name="pasta" class= "inputFields">
        <option value="0">0</option>
        <option value = "1">1</option>
        <option value = "2">2</option>
        <option value = "3">3</option>
        <option value = "4">4</option>
        <option value = "5">5</option>
      </select>
    </br>
      
    <label class = "label">Lemon Quinoa</label>
   
    <select name= "quinoa" class= "inputFields">
        <option value="0">0</option>
        <option value = "1">1</option>
        <option value = "2">2</option>
        <option value = "3">3</option>
        <option value = "4">4</option>
        <option value = "5">5</option>
      </select>
    </br>
     
    <label class = "label">White Rice</label> 
    
   
    <select name= "rice" class= "inputFields">
        <option value="0">0</option>
        <option value = "1">1</option>
        <option value = "2">2</option>
        <option value = "3">3</option>
        <option value = "4">4</option>
        <option value = "5">5</option>
      </select>
    </br>
    <label class = "label">Oven Roasted Potatoes</label>
    
   
    <select name = "potatoes"class= "inputFields">
      <option value="0">0</option>
      <option value = "1">1</option>
      <option value = "2">2</option>
      <option value = "3">3</option>
      <option value = "4">4</option>
      <option value = "5">5</option>
    </select>
</br>
</br>
</br>
<label class = "label">Please select Vegetables and quantity:</label>
</br>
   
<label class = "label">Sautéed Asparagus</label>
   
    <select name="asparagus" class= "inputFields">
        <option value="0">0</option>
        <option value = "1">1</option>
        <option value = "2">2</option>
        <option value = "3">3</option>
        <option value = "4">4</option>
        <option value = "5">5</option>
      </select>
    </br>
    <label class = "label">Oven Roasted Heirloom Carrots</label> 
    <select name= "carrots" class= "inputFields">
      <option value="0">0</option>
        <option value = "1">1</option>
        <option value = "2">2</option>
        <option value = "3">3</option>
        <option value = "4">4</option>
        <option value = "5">5</option>
      </select>
    </br>
 <label class = "label">Seasonal Vegetable Medley</label>
 
  <select name= "medley" class= "inputFields">
    <option value="0">0</option>
      <option value = "1">1</option>
      <option value = "2">2</option>
      <option value = "3">3</option>
      <option value = "4">4</option>
      <option value = "5">5</option>
    </select>
      
</br>
</br>
<input class="submit" type="submit" value="submit"></br>
<a  class= "nonNav" href="/">Cancel</a>
</form>
</div>