
<form id="smacknsnack" action="/order-smack-n-snack" method="POST">

<label class= "orderTitle" for="snsOrder">Place a Smack 'n Snack Order</label> 
</br>
</br>
    <label for="name">Customer Name</label>
    <input class="input-fields" id="name" type="name" name="name" required></br>
    <label for="email">E-mail</label>
    <input class="input-fields" id="name" type="email" name="email" required></br>
    <label for="phone">Phone Number</label>
    <input class="input-fields" id="name" type="number" name="number"></br>
   

</br>
<label>Cheesecake:
    </br> Please select flavor</label>
    <select name = "cheesecake" class="input-fields">
      <option value = "mnc">Milk 'n Cookies</option>
      <option value = "oc">Orange Creamsicle</option>
      <option value = "cnc">Cookies 'n Cream</option>
      <option value = "wc">White Chocolate</option>
      <option value = "l">Lemon</option>
      <option value = "s">Seasonal (See Chef's Page for details)</option>
    </select>
  </br>
</br>
    <label>Please select a size and quantity:</label>
  </br>
</br>
    

        Slice ($5)
        <select name="slice" class= "input-fields">
          <option value="0">0</option>
          <option value = "1">1</option>
          <option value = "2">2</option>
          <option value = "3">3</option>
          <option value = "4">4</option>
          <option value = "5">5</option>
        </select>
      </br>
        
       8 in. ($35)
       <select name = "eight" class= "input-fields">
        <option value="0">0</option>
        <option value = "1">1</option>
        <option value = "2">2</option>
        <option value = "3">3</option>
        <option value = "4">4</option>
        <option value = "5">5</option>
      </select>
    </br>
        10 in. ($40)
        <select name = "ten" class= "input-fields">
          <option value="0">0</option>
          <option value = "1">1</option>
          <option value = "2">2</option>
          <option value = "3">3</option>
          <option value = "4">4</option>
          <option value = "5">5</option>
        </select>
      </br>
        12 in. ($45)
        <select name= "twelve" class= "input-fields">
          <option value="0">0</option>
          <option value = "1">1</option>
          <option value = "2">2</option>
          <option value = "3">3</option>
          <option value = "4">4</option>
          <option value = "5">5</option>
        </select>
      </br>
    </select>
</br>
</br>
</br>
    <label>Granola (6 oz. Bag)</label>
</br>
    
    <select name= "granola" class= "input-fields">
        <option value="0">0</option>
        <option value = "1">1</option>
        <option value = "2">2</option>
        <option value = "3">3</option>
        <option value = "4">4</option>
        <option value = "5">5</option>
      </select>
    </br>
  </br>
</br>
    <label>Chef's Special BBQ Sauce ($5/ bottle)</label>
  </br>
      
      <select name= "bbq" class = "input-fields">
          <option value="0">0</option>
          <option value = "1">1</option>
          <option value = "2">2</option>
          <option value = "3">3</option>
          <option value = "4">4</option>
          <option value = "5">5</option>
        </select>
      </br>
      <input type="submit" value="submit">
      </form>