

<div class="smackMid">
    <a class = "nonNav" id= "mplink" href="/order-meal-plans">Place a Meal Plan order</a></br>
<h5 class= "infoMP">
    Meal Plans are available for 3, 4 or 5 day orders.</br>
    Our meal package includes: Choice of one protein,</br>
     one starch,  and one vegetables per day. 
    
    
    Protein choices will be for all 5 days.</br>
     However you can mix and match sides and vegetables.</br>
    </br>
     Proteins: </br>Salmon 6oz ea (Pan Sear or Oven Roast) +2$</br>
     Chicken Breast 8-10oz ea (Pan Sear or Oven Roast)</br>
     Beef Barbacoa 6oz ser (Pre-Cooked)</br>
     Portabella Mushroom (V) 3 lrg caps (Oven Roast)</br>
 
    Starch (Sides):</br> Tri- Color Herbed Pasta (Rotini Pasta with Olive Oil and Herb Blend) </br>
     Lemon Quinoa (Red Quinoa Steeped in Vegetable Stock with Lemon Zest and Bay Leaves)</br>
     White Rice (Calrose Rice boiled in water and salt)</br>
     Oven Roasted Potatoes (Red Potatoes Roasted with Olive Oil and Herbs)</br>
 
 Vegetables: </br>Sautéed Asparagus (Sautéed in Olive Oil Blend with Yellow Onions and Blistered Cherry Tomatoes)</br>
     Oven Roasted Heirloom Carrots (Roasted with Olive Oil and Honey, finished with Pistachio)</br>
    Seasonal Vegetable Medley (see chef page for details)    
</h5>

</div>
