
<h1 >Chef D's Signature BBQ Sauce</h1>
<div class="smackMid">

<a class = "nonNav" id= "smslink" href="/order-smack-n-snack">Place a Smack or Snack order</a></br>




<h5 id= "bbq" class= "describe"> 
Sweet, tangy, and flavors, oh my! This sauce,</br>
 made with the house special recipe, is the perfect </br>
 addition to burgers or fries. Or, use it as a base</br>
  for a bbq chiken or pulled pork. Whatever your taste, </br>
   you'll LOVE the taste of this sauce.

<img id= "bbqS" class="combo"src="assets/images/download-3.jpg" alt="">

</p>



</div>