<h1>Smacks</h1>
<div class="smackMid">
    <a class = "nonNav" id= "snslink" href="/order-smack-n-snack">Place a Smack or Snack order</a></br>

    <h5 id = "left" class= "describe"> 
        

    Pumpkin pie filling with our </br>house cheesecake
     base</br> On a Spiced Graham Cracker Crust</br>
<img class="pie2"src="assets/images/pumpkinwhole.jpeg" alt="">
</h5>
<!-- </div> -->
<!-- <div class="smackRight"> -->
<h5 id = "right" class= "describe"> 
   
    Guittard White Chocolate chips </br>
    folded into our house cheesecake 
</br>base  With a Golden Oreo Cookie Crust </br>
    <img class="pie3"src="assets/images/whitechochipwhole.jpeg" alt="">
    </h5>
</div>







<!-- <script type="text/javascript" src="https://form.jotform.com/jsform/202278092613150"></script> -->

