<h1 class = "snack"> Does this work?</h1>
<li><a href="/smacks">Go to smacks</a></li>
<li><a href="/"></a></li>

<script type="text/javascript" src="https://form.jotform.com/jsform/202280119238146"></script>