<h1>Snacks</h1>
<div class="smackMid">
    <a class = "nonNav" id= "snslink" href="/order-smack-n-snack">Place a Smack or Snack order</a></br>
    
    
    <img class="combo"src="assets/images/images.jpg" alt="">
    
  


<h5 id = "left" class= "describe"> 
    Our yogurt, made with love, </br>
    is the creamiest around. Have </br>
    some on it's own or pair it </br>
    with our amazing granola. </br>
<img class="yogurt"src="assets/images/download-1.jpg" alt="">
</h5>
<h5 id = "right" class= "describe"> 
    Made with our special house recipe</br>
    (inlcuding nuts), this granola will </br>
    leave you wanting more.</br>
<img class="granola"src="assets/images/download-2.jpg" alt="">

</h5>
</div>