<div class="about">
<h4>Chef D's Mission Statement:</h4>


    As long as I can remember I was in the kitchen with my mother</br>
     learning about ingredients and cooking. More often than not, </br>
    like most of us growing up in the 90’s, it was “everything but the kitchen sink”</br>
     casserole. As I have learned to refine my craft and develop the love of new techniques,</br> 
     the classic mom recipes still linger on my palette. Learning how to balance the taste of these </br>
     “comfort foods” with modern healthier alternatives, fresh ingredients, and bold flavors are </br>
     what I’m all about. But don’t get me wrong, I still love those casseroles!</br>
    </br></br>-Chef D</h4>
</div>