

<div class="contact"></br>
      <h3 class = "headerContact">Questions?</h3></br>
    <h4 class = "infoContact">Need to make a special request? </br>
     Folowing up on an order?</br>
      Wanna see more of us? </br>
      Contact or Follow us!</h4> 



<h3 class = "contact">Email: Chefdssmacksnsnacks@gmail.com </br>
Instagram: @Chefdssmacksnsnacks</br>
</h3>

<img class="dylan2"src="assets/images/dylanContact.jpeg" alt="">
<a class= "nonNav" href="/">Go home</a>
</div>