

<div class="homeMain">
<h3 class= "homepageHeader">
</br>
</br>
    ...like most of us growing up in the 90’s,</br>
     it was “everything but the kitchen sink”... 
</h3>
</div>
<div class="homeRight">
    <h5 class= "describe">Guittard White Chocolate chips </br>
        folded into our house cheesecake </br>
        base, with a Golden Oreo Cookie Crust 
    </br><img class="pie1"src="assets/images/whitechocchip.jpeg" alt=""></h5>
    <a href="/smacks">Go to smacks</a></br>
</h3>
</div>
<div class= "homeDown">
    <h5 class="describe">Boneless Pan Seared Chicken Breast </br>
        with Heirloom Carrots and Calrose White Rice
    </br><img class="mp1"src="assets/images/pansearedchicken.jpeg" alt="">
    <a href="/mealplans">Go to mealplan</a></br>
</h5>
</div>
<form method="POST" action="/homepage?_method=DELETE">
    <input type="hidden" name="email" value="email" />
    <button id= "delete"  type="submit">Delete account?</button>
  </form>
  </div>
</div>


<a hidden href="/owner-only">Owners Page</a> 