<!-- This is the nav bar goes on far left
<a href="/">Go home</a></br>
 <a href="/signup">Sign Up here</a></br> 
<a href="/login">Login Here</a></br>
<a href="/bbq-sauce">Go to sauce</a></br>
<a href="/smacks">Go to smacks</a></br>
<a href="/snacks">Go to snacks</a></br>
<a href="/mealplans">Go to mealplan</a></br>
<a href="/order-meal-plans">Place a Meal Plan order</a></br>
<a href="/order-smack-n-snack">Place a Smack or Snack order</a></br>
<a href="/delivery">Check for Delivery</a></br>
<a href="/contact">Contact Us</a></br>
<a href="/about">About the Chef</a></br> -->

<div class="container">
<h3 class= "homepageHeader">Photo and mission statement quote center under logo ND HEADER
    ...like most of us growing up in the 90’s, it was “everything but the kitchen sink”... 
</h3>
<h3> <img class="pie1"src="assets/images/whitechocchip.jpeg" alt=""></h3>
    <a href="/smacks">Go to smacks</a></br>
</h3>
<h3>Photo of meal plan option with link to meal plan page bottom center
    <a href="/mealplans">Go to mealplan</a></br>
</h3>



</div>


<a hidden href="/owner-only">Owners Page</a> 