<h2>Profile Page</h2>

<h3>Welcome to your Profile</h3>

<!-- <form method="POST" action="/profile?_method=DELETE">
    <input class= "inputFields" type="hidden" name="email" value="email" />
    <button class= "submit" id= "delete"  type="submit">Delete account?</button>
  </form> -->